<div class="download-web-container">
	<h1>Official native web app</h1>
	<p>To get the official native web app for RSS Reader, please follow these instructions:</p>
	<p><em>(P.S. If you already installed the native web app, then good for you! :))</em></p>
	
	<h2>Downloads</h2>
	<div class="downloads-container">
		<mat-grid-list rowHeight="3" cols="3">
			<mat-grid-tile class="download-tile">
				<a mat-button href="https://example.com">
					<mat-icon>file_download</mat-icon>
					<p>Windows</p>
				</a>
			</mat-grid-tile>
			<mat-grid-tile class="download-tile">
				<a mat-button href="https://example.com">
					<mat-icon>file_download</mat-icon>
					<p>Windows</p>
				</a>
			</mat-grid-tile>
			<mat-grid-tile class="download-tile">
				<a mat-button href="https://example.com">
					<mat-icon>file_download</mat-icon>
					<p>Windows</p>
				</a>
			</mat-grid-tile>
		</mat-grid-list>
		<a mat-raised-button href="https://webcatalog.io/downloads" class="download-btn" color="primary"><mat-icon>file_download</mat-icon>Download Webcatalog</a>
	</div>
</div>