<h2 matDialogTitle>About This App</h2>
<mat-dialog-content>
  <div class="about-version-container">
    <h3 style="margin: 0">RSS Reader</h3>
    <strong>
      <small>Version {{ latestVersion }}</small>
    </strong>
  </div>
  <p>This RSS reader app is made by Edric which is based on a fork of the original source code by BeCompany.</p>
  <p>The forked repository is available
    <a class="anchor-link" href="https://github.com/becompany/angular2-rss-reader-tutorial" target="_blank">here</a> and my version is
    available
    <a class="anchor-link" href="https://github.com/EdricChan03/rss-reader" target="_blank">here</a>.</p>
  <p>This repository is hosted on Github Pages. For more info about Github Pages, visit
    <a class="anchor-link" href="https://pages.github.com">here</a>.</p>
  <p>This repository also uses
    <a class="anchor-link" href="https://angular.io">Angular</a> and
    <a class="anchor-link" href="https://material.angular.io">Angular Material</a> which are ©Google 2017. All rights reserved.</p>
  <p>Social icons in Share dialog are from
    <a class="anchor-link" href="https://materialdesignicons.com">MaterialDesignIcons</a>. All other icons are from
    <a class="anchor-link" href="https://google.github.io/material-design-icons">Google's Material Icons</a>.</p>
  <a class="anchor-link" href="https://github.com/EdricChan03" title="Follow me on Github!" target="_blank">
    <img src="https://img.shields.io/github/followers/EdricChan03.svg?style=social&label=EdricChan03" alt="Github social badge">
  </a>
  <a class="anchor-link" href="https://twitter.com/EdricChan03" title="Follow me on Twitter!" target="_blank">
    <img src="https://img.shields.io/twitter/follow/EdricChan03.svg?style=social&label=EdricChan03" alt="Twitter social badge">
  </a>
</mat-dialog-content>
<mat-dialog-actions>
  <a mat-button href="https://github.com/EdricChan03/rss-reader" color="accent">
    <mat-icon>code</mat-icon>
    View source code
  </a>
  <span fxFlex></span>
  <button mat-button matDialogClose color="primary">Dismiss</button>
</mat-dialog-actions>
