<mat-card appearance="outlined" class="article-card">
  <mat-card-header class="article-card--header">
    <mat-card-title *ngIf="articleAuthor" class="article-card--author">{{ articleAuthor }}</mat-card-title>
    <mat-card-subtitle *ngIf="articlePubDate" class="article-card--pub-date">{{ articlePubDate | date:'short' }}</mat-card-subtitle>
    <span class="flex--spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="feedMenu">
      <mat-icon class="icon">more_vert</mat-icon>
    </button>
    <mat-menu #feedMenu="matMenu">
      <button mat-menu-item (click)="showCode()">
        <mat-icon>code</mat-icon> Show code
      </button>
    </mat-menu>
  </mat-card-header>
  <img mat-card-image class="article-card--image" *ngIf="articleImg && hasImage" [src]="articleImg" alt="Article thumbnail">
  <mat-card-content class="article-card--content">
    <mat-card-title class="article-card--title">{{ articleTitle }}</mat-card-title>
    <p class="article-card--description">{{ articleDesc | slice:0:300 }}</p>
    <mat-chip-set *ngIf="articleCategories.length > 0" class="article-card--categories" role="list">
      <mat-chip *ngFor="let category of articleCategories" role="listitem">{{ category }}</mat-chip>
    </mat-chip-set>
    <audio *ngIf="enclosureLink && enclosureIsAudioType" [src]="enclosureLink" class="article-card--media-player" controls preload="metadata"></audio>
    <video *ngIf="enclosureLink && enclosureIsVideoType" [src]="enclosureLink" class="article-card--media-player" controls preload="metadata"></video>
  </mat-card-content>
  <mat-divider class="article-card--divider"></mat-divider>
  <mat-card-actions align="end" class="article-card--actions">
    <button mat-icon-button (click)="share()" matTooltip="Share post" color="primary" aria-label="Share post">
      <mat-icon>share</mat-icon>
    </button>
    <a mat-icon-button [href]="articleLink" [target]="target" color="primary" aria-label="View post" matTooltip="View post">
      <mat-icon>open_in_new</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>
