<mat-card class="article-card">
  <mat-card-header>
    <mat-card-title *ngIf="articleAuthor">{{ articleAuthor }}</mat-card-title>
    <mat-card-subtitle *ngIf="articlePubDate">{{ articlePubDate | date:'short' }}</mat-card-subtitle>
    <span fxFlex></span>
    <button mat-icon-button [matMenuTriggerFor]="feedMenu">
      <mat-icon class="icon">more_vert</mat-icon>
    </button>
    <mat-menu #feedMenu="matMenu">
      <button mat-menu-item (click)="showCode()">
        <mat-icon>code</mat-icon> Show code
      </button>
    </mat-menu>
  </mat-card-header>
  <img mat-card-image *ngIf="articleImg && hasImage" [src]="articleImg" alt="Article thumbnail">
  <mat-card-title class="article-card-title">{{ articleTitle }}</mat-card-title>
  <mat-card-content>
    <p>{{ articleDesc | slice:0:300 }}</p>
    <mat-chip-list *ngIf="articleCategories.length > 0">
      <mat-chip *ngFor="let category of articleCategories" [innerHTML]="category"></mat-chip>
    </mat-chip-list>
    <audio [src]="enclosureLink" preload="metadata" #audioPlayer></audio>
    <video *ngIf="enclosureLink && enclosureIsVideoType" [src]="enclosureLink" preload="metadata" #videoPlayer></video>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions align="end">
    <button mat-icon-button *ngIf="enclosureLink && (enclosureIsAudioType || enclosureIsVideoType)" (click)="togglePlaybackState()" matTooltip="Play/pause enclosure" color="accent">
      <mat-icon>{{ playbackIsPaused ? 'play_circle_filled' : 'pause_circle_filled' }}</mat-icon>
    </button>
    <button mat-icon-button (click)="share()" matTooltip="Share post" color="primary" aria-label="Share post">
      <mat-icon>share</mat-icon>
    </button>
    <a mat-icon-button [href]="articleLink" [target]="target" color="primary" aria-label="View post" matTooltip="View post">
      <mat-icon>open_in_new</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>
