<h2 matDialogTitle>Keyboard shortcuts</h2>
<mat-dialog-content>
  <table>
    <thead>
      <tr>
        <th>Action</th>
        <th>Shortcut</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let shortcut of shortcuts">
        <td>
          <p>{{ shortcut.action }}</p>
        </td>
        <td>
          <ng-container *ngFor="let keyShortcut of shortcut.keyboardShortcut; let i = index">
            <kbd>{{ keyShortcut }}</kbd> <span *ngIf="i < shortcut.keyboardShortcut.length - 1">+</span>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="primary" matDialogClose>Close</button>
</mat-dialog-actions>
