<h2 matDialogTitle *ngIf="opts?.title">{{ opts.title }}</h2>
<mat-dialog-content class="mat-typography msg-dialog--container">
  <p class="mat-body" *ngIf="!opts?.isHtml">{{ opts.msg }}</p>
  <span *ngIf="opts?.isHtml" [innerHTML]="opts.msg"></span>
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="hasActionBtns">
  <button mat-button *ngIf="!hideNegativeBtn" [color]="negativeBtnColor"
    matDialogClose="cancel"
    [attr.cdkFocusInitial]="opts.initialActionBtnFocus === 'negative' || null">{{ opts.negativeBtnText }}</button>
  <button mat-button *ngIf="!hideNeutralBtn" [color]="neutralBtnColor"
    matDialogClose="neutral"
    [attr.cdkFocusInitial]="opts.initialActionBtnFocus === 'neutral' || null">{{ opts.neutralBtnText }}</button>
  <button mat-button *ngIf="!hidePositiveBtn" [color]="positiveBtnColor"
    matDialogClose="ok"
    [attr.cdkFocusInitial]="opts.initialActionBtnFocus === 'positive' || null">{{ opts.positiveBtnText }}</button>
</mat-dialog-actions>
