<ng-container *ngIf="feedItems$ | async as feedItems; else: errorOrLoading">
  <div class="rss-reader-cards-container">
    <app-article-card [article]="feed" *ngFor="let feed of feedItems" class="rss-reader-card"></app-article-card>
  </div>
</ng-container>
<ng-template #errorOrLoading>
  <div class="center">
    <ng-container *ngIf="errorObject; else: loading">
      <p>An error occurred:</p>
      <p><code>{{ (errorObject | async)?.error?.message }}</code></p>
      <p>Status code: {{ (errorObject | async)?.status }}</p>
      <button mat-button [matMenuTriggerFor]="moreMenu">Options
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu [overlapTrigger]="false" #moreMenu="matMenu">
        <button mat-menu-item (click)="reload()">
          <mat-icon>refresh</mat-icon>Reload page
        </button>
        <button mat-menu-item (click)="reloadFeed()">
          <mat-icon>sync</mat-icon>Refresh feed
        </button>
        <button mat-menu-item (click)="selectRss()">
          <mat-icon>rss_feed</mat-icon> Reselect RSS
        </button>
      </mat-menu>
    </ng-container>
    <ng-template #loading>
      <p>Loading&#8320;</p>
      <mat-spinner class="start-indicator"></mat-spinner>
    </ng-template>
  </div>
</ng-template>
