.app-link-icon {
  font-size: 48px;
  width: 48px;
  height: 48px;
}
.app-link-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  user-select: none;
}
.app-link-tile {
  cursor: pointer;
}