.onboarding-card {
	width: 800px;
	height: 600px;
	transition: all 0.3s ease-in-out !important;
	border-radius: 20px !important;
	margin: 0 50px;
	&.extra-margin-left {
		margin-left: 156px !important;
	}
	&.extra-margin-right {
		margin-right: 156px !important;
	}
	.mat-card-image {
		height: 380px;
		border-top-left-radius: inherit;
		border-top-right-radius: inherit;
	}
	.onboarding-card-actions {
		margin: 20px !important;
	}
	.onboarding-card-content {
		font-size: 30px;
		line-height: 30px;
		padding: 60px;
		height: 100%;
		margin: auto;
		&.onboarding-card-content-center {
			display: flex !important;
			justify-content: center !important;
			align-items: center !important;
			flex-direction: column;
		}
	}
}
.no-visible {
	visibility: hidden;
}
.onboarding-progress-bar {
	width: 200px !important;
	margin: auto;
}
.onboarding-div {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.onboarding-fab {
	// background-color: white !important;
	// color: black !important;
}
.onboarding-left-fab {
	margin-left: 50px;
}
.onboarding-right-fab {
	margin-right: 50px;
}
.app-div {
	display: flex;
	justify-content: center;
	align-items: center;
	.app-title {
		font-size: 40px;
	}
	.app-beta {
		font-size: 25px;
		font-weight: 300;
		float: right;
	}
}
.indicator {
	border-radius: 50%;
	display: block;
	margin: 4px;
	width: 10px;
	height: 10px;
	transition: all 0.2s ease-in-out;
}
.indicators {
	display: flex;
	margin: auto;
	flex-direction: row;
	vertical-align: middle;
	align-items: center;
	width: fit-content;
	padding-top: 6px;
}