<div class="padding-container">
  <p>Welcome to the test page! This page is used to test the shared functions.</p>
  <fieldset>
    <legend>Buttons</legend>
    <div fxLayout="row">
      <ng-container *ngFor="let button of buttons">
        <button mat-button *ngIf="button.btnType == 'normal'" [color]="button.color">{{button.title ? button.title : 'Button'}}</button>
        <button mat-flat-button *ngIf="button.btnType == 'flat'" [color]="button.color">{{button.title ? button.title : 'Button'}}</button>
        <button mat-stroked-button *ngIf="button.btnType == 'stroked'" [color]="button.color">{{button.title ? button.title : 'Button'}}</button>
        <button mat-raised-button *ngIf="button.btnType == 'raised'" [color]="button.color">{{button.title ? button.title : 'Button'}}</button>
        <button mat-icon-button *ngIf="button.btnType == 'icon'" [color]="button.color" [matTooltip]="button.tooltip"><mat-icon>{{button.icon ? button.icon : 'close'}}</mat-icon></button>
        <button mat-fab *ngIf="button.btnType == 'fab'" [color]="button.color ? button.color : 'accent'" [matTooltip]="button.tooltip"><mat-icon>{{button.icon ? button.icon : 'close'}}</mat-icon></button>
        <button mat-mini-fab *ngIf="button.btnType == 'mini-fab'" [color]="button.color ? button.color : 'accent'" [matTooltip]="button.tooltip"><mat-icon>{{button.icon ? button.icon : 'close'}}</mat-icon></button>
      </ng-container>
    </div>
  </fieldset>
  <fieldset fxLayout="column">
    <legend>Dialog properties</legend>
    <h4>Dialog type:</h4>
    <mat-radio-group [(ngModel)]="dialog.dialogType" fxLayout="column" required>
      <mat-radio-button *ngFor="let type of dialogTypes" [value]="type" style="padding: 1px;">{{type | titlecase}}</mat-radio-button>
    </mat-radio-group>
    <mat-form-field>
      <input matInput [(ngModel)]="dialog.title" placeholder="Title of dialog">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput [(ngModel)]="dialog.message" placeholder="Message of dialog" rows="3" matTextareaAutosize></textarea>
      <button mat-icon-button matSuffix (click)="generateLoremIpsum()" matTooltip="Generate lorem ipsum">
        <mat-icon>cached</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field color="accent">
      <input matInput [(ngModel)]="dialog.okBtn" placeholder="OK button text of dialog">
    </mat-form-field>
    <mat-form-field color="accent">
      <input matInput [(ngModel)]="dialog.cancelBtn" placeholder="Cancel button text of dialog">
    </mat-form-field>
    <mat-form-field color="accent" *ngIf="dialog.dialogType == 'prompt'">
      <input matInput [(ngModel)]="dialog.placeholder" placeholder="Placeholder for prompt dialog">
    </mat-form-field>
    <mat-form-field color="accent" *ngIf="dialog.dialogType == 'prompt'">
      <input matInput [(ngModel)]="dialog.value" placeholder="Initial value for prompt dialog">
    </mat-form-field>
    <div>
      <button mat-button (click)="openDialog()" color="primary">Open Dialog</button>
    </div>
  </fieldset>
  <div id="result"></div>
  <mat-divider></mat-divider>
  <fieldset fxLayout="column">
    <legend>Snackbar properties</legend>
    <mat-form-field>
      <textarea matInput [(ngModel)]="snackbar.snackBarMsg" placeholder="Message of snackbar" rows="3" matTextareaAutosize></textarea>
      <button mat-icon-button matSuffix (click)="generateLoremIpsum(true)" matTooltip="Generate lorem ipsum">
        <mat-icon>cached</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" [(ngModel)]="snackbar.duration" placeholder="Duration of snackbar">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="snackbar.action" placeholder="Action of snackbar">
    </mat-form-field>
    <h3>Vertical Position:</h3>
    <mat-radio-group [(ngModel)]="snackbar.verticalPosition" fxLayout="column">
      <mat-radio-button *ngFor="let opt of verticalPos" [value]="opt">{{opt}}</mat-radio-button>
    </mat-radio-group>
    <h3>Horizontal Position:</h3>
    <mat-radio-group [(ngModel)]="snackbar.horizontalPosition" fxLayout="column">
      <mat-radio-button *ngFor="let opt of horizontalPos" [value]="opt">{{opt}}</mat-radio-button>
    </mat-radio-group>
    <h3>Extra classes</h3>
    <mat-form-field color="accent">
      <mat-select [(ngModel)]="snackbar.panelClass" placeholder="Extra class" multiple>
        <mat-option value="red">
          <code>red</code>
        </mat-option>
        <mat-option value="party">
          <code>party</code>
        </mat-option>
        <mat-option value="mat-elevation-z3">
          Elevation
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <button mat-button (click)="closeSnackBar()" color="warn">Close all snackbars</button>
      <button mat-button (click)="snackBar()" color="primary">Normal Snackbar</button>
      <button mat-button (click)="errorSnackBar()" color="primary">Error Snackbar</button>
      <button mat-button (click)="durationSnackBar()" color="primary">Duration Snackbar</button>
      <button mat-button (click)="snackBarWithResult()" color="primary">Snackbar with result</button>
    </div>
  </fieldset>

</div>