<div class="cards-container" *ngIf="headlines$ | async as headlines; else: errorOrLoading">
  <app-article-card *ngFor="let article of headlines?.articles" [article]="article" class="cards-container--card"></app-article-card>
</div>
<ng-template #errorOrLoading>
  <div class="center">
    <ng-container *ngIf="errorObject | async as error; else: loading">
      <ng-container *ngIf="error?.error?.message">
        <p>An error occurred:</p>
        <p><code>{{ error?.error?.message }}</code></p>
      </ng-container>
      <ng-container *ngIf="!error?.error || !error?.error?.message">
        <p>An unknown error occurred.</p>
      </ng-container>
      <p>Status code: {{ error?.status }}</p>
    </ng-container>
    <ng-template #loading>
      <p>Loading&#8320;</p>
      <mat-spinner class="start-indicator"></mat-spinner>
    </ng-template>
  </div>
</ng-template>

