<mat-sidenav-container fullscreen>
	<mat-sidenav #left class="app-sidenav" [mode]="isMobile ? 'over' : 'side'">
		<mat-toolbar>
			Links
			<span fxFlex></span>
			<button mat-icon-button (click)="left.close()" matTooltip="Close Sidenav" matTooltipPosition="left">
				<mat-icon>keyboard_arrow_left</mat-icon>
			</button>
		</mat-toolbar>
		<mat-nav-list>
			<a mat-list-item [routerLink]="['/', link.url]" routerLinkActive="active-link" *ngFor="let link of links">
				<mat-icon matListIcon>{{link.icon}}</mat-icon>
				<h3 matLine>{{link.name}}</h3>
			</a>
			<h3 matSubheader>Apps (coming soon)</h3>
			<a mat-list-item routerLink="/devices/web" routerLinkActive="active-link">
				<mat-icon matListIcon>web</mat-icon>
				<h3 matLine>Web app</h3>
				<p matLine>Native version</p>
				<span fxFlex></span>
				<mat-icon matTooltip="new!">new_releases</mat-icon>
			</a>
			<a mat-list-item routerLink="/devices/android" routerLinkActive="active-link">
				<mat-icon matListIcon>android</mat-icon>
				<h3 matLine>Android app</h3>
				<p matLine>Not available yet</p>
			</a>
			<a mat-list-item routerLink="/devices/ios" routerLinkActive="active-link">
				<mat-icon matListIcon>
					<svg width="24px" height="24px" viewBox="0 0 24 24">
						<path d="M20,9V7H16A2,2 0 0,0 14,9V11A2,2 0 0,0 16,13H18V15H14V17H18A2,2 0 0,0 20,15V13A2,2 0 0,0 18,11H16V9M11,15H9V9H11M11,7H9A2,2 0 0,0 7,9V15A2,2 0 0,0 9,17H11A2,2 0 0,0 13,15V9A2,2 0 0,0 11,7M4,17H6V11H4M4,9H6V7H4V9Z"
						/>
					</svg>
				</mat-icon>
				<h3 matLine>iOS app</h3>
				<p matLine>Not available yet</p>
			</a>
			<h3 matSubheader>More</h3>
			<a mat-list-item href="https://goo.gl/forms/hopvyFXOqHfpA1kq2">
				<mat-icon matListIcon>feedback</mat-icon>
				<h3 matLine>Send Feedback</h3>
			</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color="primary" class="mat-elevation-z3">
			<button mat-icon-button (click)="left.toggle()" *ngIf="!isSidenavOpen" aria-label="Toggle left sidenav">
				<mat-icon>menu</mat-icon>
			</button>
			RSS Reader
			<span fxFlex></span>
			<button mat-icon-button [matMenuTriggerFor]="aboutMenu" matTooltip="About..." aria-label="Open about menu">
				<mat-icon>info</mat-icon>
			</button>
			<mat-menu #aboutMenu="matMenu">
				<button mat-menu-item (click)="aboutThisApp()">
					<mat-icon>info</mat-icon>About this app</button>
				<a mat-menu-item href="https://github.com/Chan4077/rss-reader" override>
					<mat-icon>code</mat-icon> View source code
				</a>
			</mat-menu>
		</mat-toolbar>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>