<mat-sidenav-container fullscreen>
	<mat-sidenav #left class="app-sidenav" [mode]="isMobile ? 'over' : 'side'">
		<mat-toolbar>
			Links
			<span fxFlex></span>
			<button mat-icon-button (click)="left.close()" matTooltip="Close Sidenav" matTooltipPosition="left">
				<mat-icon>keyboard_arrow_left</mat-icon>
			</button>
		</mat-toolbar>
		<mat-nav-list>
			<a mat-list-item [routerLink]="['/', link.url]" routerLinkActive="active-link" *ngFor="let link of links" (click)="left.close()">
				<mat-icon matListIcon>{{link.icon}}</mat-icon>
				<p matLine>{{link.name}}</p>
			</a>
			<h3 matSubheader>Other</h3>
			<a mat-list-item href="https://goo.gl/forms/hopvyFXOqHfpA1kq2" (click)="left.close()">
				<mat-icon matListIcon>feedback</mat-icon>
				<p matLine>Send Feedback</p>
			</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color="primary" class="mat-elevation-z3">
			<button mat-icon-button (click)="left.toggle()" *ngIf="!isSidenavOpen">
				<mat-icon>menu</mat-icon>
			</button>
			RSS Reader
			<span fxFlex></span>
			<button mat-icon-button [matMenuTriggerFor]="aboutMenu" matTooltip="About...">
				<mat-icon>info</mat-icon>
			</button>
			<mat-menu #aboutMenu="matMenu">
				<button mat-menu-item (click)="aboutThisApp()">
					<mat-icon>info</mat-icon>About this app</button>
				<a mat-menu-item href="https://github.com/Chan4077/angular-rss-reader">
					<mat-icon>code</mat-icon> View source code
				</a>
			</mat-menu>
		</mat-toolbar>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>