<md-sidenav-container fullscreen>
	<md-progress-bar mode="indeterminate" color="accent" *ngIf="!feeds"></md-progress-bar>
	<md-toolbar color="primary">
		RSS Reader
		<span fxFlex></span>
		<button md-icon-button (click)="refreshFeed()" mdTooltip="Refresh" [disabled]="isRefreshing"><md-icon>refresh</md-icon></button>
		<button md-icon-button [mdMenuTriggerFor]="moreMenu" mdTooltip="More options"><md-icon>more_vert</md-icon></button>
		<md-menu #moreMenu="mdMenu">
			<button md-menu-item (click)="selectRss()"><md-icon>rss_feed</md-icon> Select RSS</button>
			<button md-menu-item (click)="settings()"><md-icon>settings</md-icon> Settings</button>
			<!--<button md-menu-item href=""><md-icon>message_alert</md-icon> Send Feedback</button>-->
		</md-menu>
	</md-toolbar>
	<p *ngIf="getStarted">Select an RSS from the menu icon > select RSS to start.</p>
	<div class="start" *ngIf="isRefreshing">
		<p>{{refreshStatus}}</p>
		<md-spinner class="start-indicator"></md-spinner>
		<button md-button (click)="reload()" color="primary" *ngIf="hasError">Reload</button>
	</div>
	<app-feed-card *ngFor="let feed of feeds" [feed]="feed"></app-feed-card>
</md-sidenav-container>