<h2 matDialogTitle>RSS Url</h2>
<mat-dialog-content fxLayout="column">
	<form #formCtrl="ngForm" fxLayout="column">
		<p>Select from a built-in choice of options:</p>
		<mat-form-field class="form-field">
			<mat-select [(ngModel)]="feedUrl" fxFlex placeholder="Select RSS feed" name="feedUrl">
				<mat-option *ngFor="let feed of feeds" [value]="feed.feedUrl">{{feed.name}}</mat-option>
			</mat-select>
		</mat-form-field>
		<p>Or enter a RSS feed url not listed above here:</p>
		<mat-form-field class="form-field">
			<input matInput placeholder="RSS Url" [(ngModel)]="feedUrl" name="feedUrl">
		</mat-form-field>
		<mat-checkbox [(ngModel)]="publishFeedUrl" name="publishFeedUrl">Publish Feed URL</mat-checkbox>
		<mat-form-field class="form-field" *ngIf="publishFeedUrl">
			<input matInput placeholder="RSS Channel" [(ngModel)]="feedUrlChannel" name="feedUrlChannel">
		</mat-form-field>
		<mat-form-field *ngIf="publishFeedUrl" class="form-field">
			<mat-select [(ngModel)]="feedCategory" name="feedCategory" placeholder="Feed category">
				<mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
			</mat-select>
		</mat-form-field>
		<p>This is required. For more information and to get an api key, go
			<a href="https://rss2json.com" target="_blank">here</a>
		</p>
		<mat-form-field class="form-field">
			<input type="text" matInput placeholder="API Key" [(ngModel)]="apiKey" required name="apiKey">
			<mat-error>This is required</mat-error>
		</mat-form-field>
	</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button color="primary" matDialogClose="cancel">Cancel</button>
	<button mat-button color="primary" matDialogClose="save" [disabled]="!formCtrl.valid">Save</button>
</mat-dialog-actions>