<md-card class="card-feed-entry">
	<md-card-header>
		<md-card-title>{{feed.author}}</md-card-title>
		<md-card-subtitle>{{feed.pubDate | date:'dd-MM-yyyy'}}</md-card-subtitle>
		<span fxFlex></span>
		<button md-icon-button [mdMenuTriggerFor]="feedMenu"><md-icon>more_vert</md-icon></button>
		<md-menu #feedMenu="mdMenu">
			<button md-menu-item (click)="showCode(feed)"><md-icon>code</md-icon> Show code </button>
			<button md-menu-item (click)="imageChange()" [disabled]="imageSrc == null">
				<md-icon>image</md-icon>{{ imageChanged ? 'Show' : 'Hide' }} Images
			</button>
		</md-menu>
	</md-card-header>
	<img md-card-image *ngIf="hasImage" [src]="imageSrc">
	<md-card-title>{{feed.title}}</md-card-title>
	<md-card-content>
		<p>{{feed.description | stripHtmlTags | slice:0:300}}</p>
		<md-chip-list *ngIf="feed.categories.length != undefined">
			<md-chip *ngFor="let category of feed.categories" selected="true" [innerHTML]="category"></md-chip>
		</md-chip-list>
	</md-card-content>
	<md-card-actions align="end">
		<a md-button [href]="feed.link" [target]="target">View Post</a>
	</md-card-actions>
</md-card>