.facebook-btn {
	background-color: #3b5998 !important;
	color: white !important;
}
.twitter-btn {
	background-color: #00aced !important;
	color: white !important;
}
.google-plus-btn {
	background-color: #d34836 !important;
	color: white !important;
}