<h2 matDialogTitle>RSS Config</h2>
<mat-dialog-content fxLayout="column">
  <form [formGroup]="rssFeedForm" fxLayout="column">
    <p>Select from one of the options or enter a RSS feed URL:</p>
    <mat-form-field color="accent">
      <mat-label>RSS feed URL</mat-label>
      <input matInput [matAutocomplete]="rssFeedAuto" formControlName="rss_url">
      <mat-autocomplete #rssFeedAuto="matAutocomplete">
        <mat-optgroup [label]="feed.categoryName" *ngFor="let feed of filteredOptions | async">
          <mat-option *ngFor="let channel of feed.channels" [value]="channel.feedUrl" class="autocomplete-option">
            <span>{{channel?.feedName}}</span> |
            <span>{{channel?.feedUrl}}</span>
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
      <mat-error>This is required.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>API key</mat-label>
      <input matInput formControlName="api_key">
      <mat-error *ngIf="rssFeedForm.get('api_key')?.hasError('required')">This is required.</mat-error>
      <mat-error *ngIf="rssFeedForm.get('api_key')?.hasError('minlength') || rssFeedForm.get('api_key')?.hasError('maxlength')">Please enter a valid API key.</mat-error>
      <a mat-icon-button matSuffix routerLink="/doc/guides/generate-api-key" matTooltip="How to generate a key" target="_blank">
        <mat-icon>help</mat-icon>
      </a>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Order results by&#8320;</mat-label>
      <mat-select formControlName="order_by">
        <mat-option *ngFor="let option of orderByOptions" [value]="option.value">{{ option.title }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Order results in</mat-label>
      <mat-select formControlName="order_dir">
        <mat-option *ngFor="let option of orderDirOptions" [value]="option.value">{{ option.title }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Max. number of posts</mat-label>
      <input matInput formControlName="count" type="number" min="1" max="100">
      <mat-hint>(Default: 10)</mat-hint>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="accent" (click)="openSubmitRssDialog()">Submit RSS URL</button>
  <span fxFlex></span>
  <button mat-button color="primary" matDialogClose="cancel">Cancel</button>
  <button mat-button color="primary" [matDialogClose]="rssFeedForm.value" [disabled]="rssFeedForm.invalid">Save</button>
</mat-dialog-actions>
