<mat-card>
  <mat-card-title>Filter options</mat-card-title>
  <mat-card-content>
    <h4>Domains: (comma-seperated)</h4>
    <mat-form-field>
      <input matInput placeholder="Domains" [(ngModel)]="opts.domains">
    </mat-form-field>
    <h4>Language: (
      <code>en</code>,
      <code>fr</code>, etc.)</h4>
    <mat-form-field>
      <input matInput placeholder="Language (2-letter ISO-639-1 code)" [(ngModel)]="opts.langCode">
    </mat-form-field>
    <h4>Sort by:</h4>
    <mat-radio-group fxLayout="column" [(ngModel)]="opts.sortBy">
      <mat-radio-button value="relevancy" style="padding-bottom: 5px">Relevancy</mat-radio-button>
      <mat-radio-button value="popularity" style="padding-bottom: 5px">Popularity</mat-radio-button>
      <mat-radio-button value="publishedAt" style="padding-bottom: 5px">Published at</mat-radio-button>
    </mat-radio-group>
  </mat-card-content>
</mat-card>