<div class="app-content">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Settings</mat-card-title>
    </mat-card-header>
    <mat-card-content class="settings-card mat-typography">
      <form [formGroup]="settingsForm">
        <fieldset>
          <legend>General</legend>
          <mat-checkbox formControlName="openNewTab" class="checkbox">Open posts in a new tab</mat-checkbox>
          <mat-checkbox formControlName="showImages" class="checkbox">Show images</mat-checkbox>
          <mat-form-field color="accent">
            <mat-label>Theme</mat-label>
            <mat-select formControlName="theme">
              <mat-option *ngFor="let theme of themes" [value]="theme">{{theme}}</mat-option>
            </mat-select>
            <mat-hint>Changes will be made on reload.</mat-hint>
          </mat-form-field>
        </fieldset>
        <fieldset>
          <legend>Releases</legend>
          <mat-checkbox formControlName="notifyNewReleases" class="checkbox">Notify when new releases are out</mat-checkbox>
        </fieldset>
      </form>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="reset()" color="warn">Reset</button>
      <button mat-button (click)="save()" color="primary" [disabled]="settingsForm.invalid">Save</button>
    </mat-card-actions>
  </mat-card>
</div>
