/* You can add global styles to this file, and also import other style files */
@import 'assets/md-font/material-icons.css';

/* Select Angular Material theming. */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~highlight.js/styles/solarized-light.css';

[md-button], [md-raised-button] {
	text-transform: uppercase;
}
body {
	font-family: Roboto, Helevetica, sans-serif;
}
pre.hljs, code.hljs {
	white-space: pre-wrap;
}
.form-field {
	width: 100% !important;
}
.refreshing > div {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	justify-content: center;
}
/* Extracted from market2 */
.start-indicator {
	width: 22px !important;
	height: 22px !important;
}
.start {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
	text-align: center;
}