/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import 'assets/md-font/material-icons.css';
@import '~highlight.js/styles/solarized-light.css';

/* Select Angular Material theming. */

@include mat-core();

@mixin angular-rss-reader-theme($theme) {
	$foreground: map-get($theme, foreground);
	$accent: map-get($theme, accent);

	.active-link {
		color: mat-color($accent) !important;
		background-color: map-get($foreground, divider);
	}
}
$deeppurple-amber-primary: mat-palette($mat-deep-purple);
$deeppurple-amber-accent: mat-palette($mat-amber);
$deeppurple-amber-theme: mat-light-theme($deeppurple-amber-primary, $deeppurple-amber-accent);

$pink-bluegrey-primary: mat-palette($mat-pink);
$pink-bluegrey-accent: mat-palette($mat-blue-grey);
$pink-bluegrey-theme: mat-dark-theme($pink-bluegrey-primary, $pink-bluegrey-accent);

$purple-green-primary: mat-palette($mat-purple);
$purple-green-accent: mat-palette($mat-green);
$purple-green-theme: mat-dark-theme($purple-green-primary, $purple-green-accent);

$indigo-pink-primary: mat-palette($mat-indigo);
$indigo-pink-accent: mat-palette($mat-pink);
$indigo-pink-theme: mat-light-theme($indigo-pink-primary, $indigo-pink-accent);
.deeppurple-amber {
	@include angular-material-theme($deeppurple-amber-theme);
	@include angular-rss-reader-theme($deeppurple-amber-theme);
}

.pink-bluegrey {
	@include angular-material-theme($pink-bluegrey-theme);
	@include angular-rss-reader-theme($pink-bluegrey-theme);
}

.purple-green {
	@include angular-material-theme($purple-green-theme);
	@include angular-rss-reader-theme($purple-green-theme);
}

.indigo-pink {
	@include angular-material-theme($indigo-pink-theme);
	@include angular-rss-reader-theme($indigo-pink-theme);
}

.mat-button,
.mat-raised-button,
.mat-simple-snackbar-action {
    text-transform: uppercase;
}

body {
    margin: 0;
    height: 100%;
}

pre.hljs,
code.hljs {
    white-space: pre-wrap;
}

.refreshing>div {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    justify-content: center;
}


/* Extracted from market2 */

mat-spinner.start-indicator svg,
mat-spinner.start-indicator {
    width: 22px !important;
    height: 22px !important;
}

.start {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
}

.checkbox {
    margin: 6px;
}

.custom-snackbar {
    display: flex;
    justify-content: space-between;
    line-height: 20px;
}

.custom-snackbar-action {
    flex-shrink: 0;
    margin-left: 48px;
}

.app-sidenav {
    width: 220px;
}

.selection-dialog>mat-dialog-container>selection-dialog>mat-dialog-content {
    padding: 0;
}

.text-center {
    text-align: center;
}

.page-not-found-container {
    padding: 4px;
}

.settings-container {
    margin: 5%;
}

// Excerpt from snackbar demo on material2's demoapp
.party {
    animation: party 5000ms infinite;
}

@keyframes party {
    0% {
        background-color: #00f;
    }
    10% {
        background-color: #8e44ad;
    }
    20% {
        background-color: #1abc9c;
    }
    30% {
        background-color: #d35400;
    }
    40% {
        background-color: #00f;
    }
    50% {
        background-color: #34495e;
    }
    60% {
        background-color: #00f;
    }
    70% {
        background-color: #2980b9;
    }
    80% {
        background-color: #f1c40f;
    }
    90% {
        background-color: #2980b9;
    }
    100% {
        background-color: #0ff;
    }
}

.red {
    background-color: red;
}


/* Styles adapted from angular.io */

mat-sidenav-content::-webkit-scrollbar-thumb {
    background-color: #6e6e6e;
    outline: 1px solid #333;
}

mat-sidenav-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

mat-sidenav-content::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}


/* End styles */