@use '~@angular/material' as mat;
@import 'hljs';
// Dedicated file for theming the app
@mixin rss-reader-theme($theme) {
  @include tables-theme($theme);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $is-dark-theme: map-get($theme, is-dark); // Check if the theme is dark
  @if ($is-dark-theme) {
    // Apply highlight.js dark styles available in _hljs.scss
    @include hljs-dark();
  } @else {
    // Apply highlight.js light styles available in _hljs.scss
    @include hljs-light();
  }

  // Shows the current link. Used in the sidenav
  .active-link {
    // Since it's a bit hard to actually see the text in the dark theme, it'll use the accent color if it's dark and primary if it's not. Same applies for mat-icon
    color: if($is-dark-theme, mat.get-color-from-palette($accent), mat.get-color-from-palette($primary)) !important;
    mat-icon {
      color: if($is-dark-theme, mat.get-color-from-palette($accent), mat.get-color-from-palette($primary)) !important;
    } // Note: These colors are based on the Android sidenav selection state
    background-color: if($is-dark-theme, #595959, #DCDCDC) !important;
  }

  // Warning icon color
  .warning-icon {
    color: mat.get-color-from-palette($warn) !important;
  }

  a.anchor-link {
    color: mat.get-color-from-palette($primary, if($is-dark-theme, 200, default));
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .mat-list-item-content mat-icon,
  .icon {
    color: map-get($foreground, icon);
  }

  .onboarding-content {
    color: if($is-dark-theme, #FFF, #000);
  }
  .onboarding-card {
    background-color: if($is-dark-theme, #303030, #FAFAFA);
  }

  .indicator-active {
    background-color: mat.get-color-from-palette($accent) !important;
  }
  .indicator {
    background-color: rgba(255, 255, 255, 0.5);
  }

  // Adapted from
  // https://github.com/EdricChan03/StudyBuddy-web/blob/3b1e7709c8954fc73fc934cbf6f882de3ed25e2e/src/styles.scss#L64-L86
  .badge {
    color: mat.get-color-from-palette($foreground, text);
    background-color: mat.get-color-from-palette($background, unselected-chip);

    &.badge--colored {
      background-color: if($is-dark-theme, mat.get-color-from-palette($accent), mat.get-color-from-palette($primary));
      color: if($is-dark-theme, map-get($accent, 'default-contrast'), map-get($primary, 'default-contrast'));
    }

    $palettes-list: (
      primary: $primary,
      accent: $accent,
      warn: $warn
    );

    @each $key, $val in $palettes-list {
      &.badge--#{$key} {
        background-color: mat.get-color-from-palette($val);
        color: map-get($val, 'default-contrast');
      }
    }
  }
}

// Mixin from material docs site
@mixin tables-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);
  $tableBorderOpacity: if($is-dark-theme, 0.08, 0.03);

  table.app-table {
    color: mat.get-color-from-palette($foreground, text);

    th {
      background: mat.get-color-from-palette($background, app-bar);
    }

    td {
      border: 1px solid rgba(mat.get-color-from-palette($foreground, secondary-text), $tableBorderOpacity);
    }
  }
}
