/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@import 'theming';
@import 'themes';

/* Select Angular Material theming. */

@include mat.core();

// Default theme for the app
@include mat.all-component-themes($indigo-pink-theme);
@include mat.typography-hierarchy($rss-reader-typography);
body {
  @include rss-reader-theme($indigo-pink-theme);
}

.deeppurple-amber {
  @include rss-reader-theme($deeppurple-amber-theme);
  @include mat.all-component-colors($deeppurple-amber-theme);
  /** Adapted from https://github.com/atom-material/atom-material-syntax-light */
  .hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    background: #FAFAFA;
    color: #37474f;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    font: 300 100%/1 Roboto Mono, monospace;
    font-size: 14px;
  }
  .hljs>*::selection,
  .hljs-section {
    background-color: #D6EDEA;
  }
  .hljs-comment {
    color: #B0BEC5;
    font-style: italic;
  }
  .hljs-tag,
  .hljs-selector-tag,
  .hljs-regexp,
  .hljs-meta {
    color: #9c27b0;
  }
  .hljs-string,
  .hljs-subst {
    color: #0d904f;
  }
  .hljs-number,
  .hljs-variable,
  .hljs-template-variable {
    color: #80CBC4;
  }
  .hljs-name,
  .hljs-keyword,
  .hljs-type,
  .hljs-attribute {
    color: #3b78e7;
  }
  .hljs-title,
  .hljs-function>.hljs-title,
  .hljs-symbol,
  .hljs-bullet,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-link {
    color: #6182B8;
  }
  .hljs-params {
    color: #d81b60;
  }
  .hljs-addition {
    color: #3b78e7;
    display: inline-block;
    width: 100%;
  }
  .hljs-deletion {
    color: #E53935;
    display: inline-block;
    width: 100%;
  }
  .hljs-selector-id,
  .hljs-selector-class {
    color: #8796B0;
  }
  .hljs-emphasis {
    font-style: italic;
  }
  .hljs-strong {
    font-weight: bold;
  }
  .hljs-link {
    text-decoration: underline;
  }
}

.pink-bluegrey {
  @include rss-reader-theme($pink-bluegrey-theme);
  @include mat.all-component-colors($pink-bluegrey-theme);
}

.purple-green {
  @include rss-reader-theme($purple-green-theme);
  @include mat.all-component-colors($purple-green-theme);
}

.rss-reader-card {
  width: 350px;
  box-sizing: border-box;
  margin: 16px;
  // .feed-card {
  //   @include mat-elevation-transition;
  //   &:hover, &:active {
  //     @include mat-elevation(8);
  //   }
  // }
}

.rss-reader-cards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing.dark-backdrop {
  background: #000;
}

.open-in-new-icon {
  width: 20px;
  height: 20px;
  font-size: 20px;
}

.mat-button:not([no-caps]),
.mat-raised-button:not([no-caps]),
.mat-simple-snackbar-action:not([no-caps]) {
  text-transform: uppercase;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100%;
}

pre.hljs,
code.hljs {
  white-space: pre-wrap;
}

.refreshing>div {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  justify-content: center;
}

/* Extracted from market2 */

mat-spinner.start-indicator svg,
mat-spinner.start-indicator {
  width: 22px !important;
  height: 22px !important;
}

.start,
.center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}

.checkbox {
  margin: 6px;
}

.custom-snackbar {
  display: flex;
  justify-content: space-between;
  line-height: 20px;
}

.custom-snackbar-action {
  flex-shrink: 0;
  margin-left: 48px;
}

.app-sidenav {
  width: 240px; // @include mat-elevation(3);
}

.selection-dialog>mat-dialog-container>selection-dialog>mat-dialog-content {
  padding: 0;
}

.text-center {
  text-align: center;
}

.warning-icon,
.build-icon {
  font-size: 72px;
  width: 72px !important;
  height: 72px !important;
}

.page-not-found-container {
  padding: 4px;
}

.app-content {
  margin: 2.5%;
}

// Excerpt from snackbar demo on material2's demoapp
.party {
  animation: party 5000ms infinite;
}

@keyframes party {
  0% {
    background-color: #00f;
  }
  10% {
    background-color: #8e44ad;
  }
  20% {
    background-color: #1abc9c;
  }
  30% {
    background-color: #d35400;
  }
  40% {
    background-color: #00f;
  }
  50% {
    background-color: #34495e;
  }
  60% {
    background-color: #00f;
  }
  70% {
    background-color: #2980b9;
  }
  80% {
    background-color: #f1c40f;
  }
  90% {
    background-color: #2980b9;
  }
  100% {
    background-color: #0ff;
  }
}

.red {
  background-color: red !important;
}

// Styles for table
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 32px;
  width: 100%;
}

th {
  font-weight: 400;
  max-width: 100px;
  padding: 13px 16px;
  text-align: left;
}

td {
  font-weight: 400;
  padding: 8px 16px
}

.autocomplete-option .autocomplete-option-img {
  vertical-align: middle;
  margin-right: 8px;
  &[dir=rtl] {
    margin-right: 0;
    margin-left: 8px;
  }
}

.form-group {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-full-width {
  width: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
}

// Style based from StackOverflow's CSS.
kbd {
  display: inline-block;
  margin: 0 .1em;
  padding: .1em .6em;
  font-size: 11px;
  line-height: 1.4;
  // color: #242729;
  border: 1px solid #adb3b9;
  border-radius: 3px;
  // box-shadow: 0 1px 0 rgba(12,13,14,.2), 0 0 0 2px #fff inset;
  white-space: nowrap;
}

// Adapted from
// https://github.com/EdricChan03/StudyBuddy-web/blob/3b1e7709c8954fc73fc934cbf6f882de3ed25e2e/src/styles.scss#L244-L250
.badge {
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 0.8em;
  padding: 2px 8px;
  border-radius: 16px;
}

// Utility styles
.flex--spacer {
  flex: 1 1 auto;
}

/* End styles */
