name: Pull Request workflow

on:
  pull_request:
    branches:
    # Only accept PRs targeting the master branch
    - master

jobs:
  test:
    name: App linting/testing
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Setup NodeJS LTS
      uses: actions/setup-node@v2.3.0
      with:
        node-version: '10.x'
    - name: Cache node modules
      uses: actions/cache@v2
      id: node_modules_cache
      with:
        path: node_modules
        key: ${{ runner.os }}-node_modules-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node_modules-${{ hashFiles('**/package-lock.json') }}-
          ${{ runner.os }}-node_modules-
          ${{ runner.os }}-
    - name: Install dependencies
      # Skip this step if a cache hit occurs on the key
      if: steps.node_modules_cache.outputs.cache-hit != 'true'
      run: npm ci
    - name: Lint application
      run: npm run lint
    - name: Test application
      run: npm run action:test
    - name: Upload Codecov coverage report
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_ACTION }}
        file: ./coverage/rss-reader/coverage-final.json
        name: codecov-action
